#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

input {
  padding: 0.5rem;
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}
